.App {
    text-align: center;
    margin:auto;
    margin-top:10%;
    display:block;
  }

  .search-bar{
    padding:1rem;
  }

  .window{
      width:400px;
      height:300px;
      border:15px solid black;
      margin:auto;
      margin-top:20px;
      background-color:white;
      border-radius:10px;
      overflow:hidden;
  }

  .window #screen{
    width:400px;
  }

  input {
    width: 138px;
    height: 20px;
    padding: 10px 5px;
    border: 0;
    background: #EEE;
    border-radius: 3px 0 0 3px;
  }

  button {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin: 0  10px; 
  }

  .btn-primary {
    border-radius: 4px;
    background-color: #f39c12;
    border: none;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
  }
  
  
  .btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-primary span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-primary:hover span {
    padding-right: 25px;
  }
  
  .btn-primary:hover span:after {
    opacity: 1;
    right: 0;
  }

  

